.Input__Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.Input__Label {
  color: black;
  font-weight: 500;
}

.Input__Field {
  border-radius: 0.5rem;
  padding: 1rem;
  border: 1px solid black;
  box-shadow: 0 4px 6px -1px rgba(30, 58, 138, 0.25),
    0 2px 4px -2px rgba(30, 58, 138, 0.25);
  background-color: transparent;
  color: black;
  outline: none;
}

.Input__Error {
  border-color: #8b0000;
  box-shadow: 0 4px 6px -1px rgba(139, 0, 0, 0.25),
    0 2px 4px -2px rgba(139, 0, 0, 0.25);
}
