.Button__Content {
  padding: 1rem;
  max-width: 375px;
  background-color: #742dd1;
  color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px #39116e, 0 2px 4px -2px #39116e;
  transition: all 0.3s ease-in-out;
  border: 1px solid #39116e;
  cursor: pointer;
  font-size: 20px;
  white-space: nowrap;
}

.Button__Content:hover {
  color: #39116e;
  background-color: #ffffff;
}
