.Loading__Wrapper {
  padding: 50px;
  display: flex;
  justify-content: center;

  img {
    width: 150px;
    height: 150px;
  }
}

.Loading__Wrapper--Fixed {
  padding: 0;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  transition: opacity 0.3s;
}
