.Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  padding: 40px;
  background: #39116e;
  box-sizing: border-box;
  height: 15vh;

  .Header__Title__Wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .Header__Title {
      font-size: 34px;
      font-weight: bold;
      color: #ffffff;
    }
  }
  .Header__WelcomeMessage {
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
  }
}
