.Contact__Modal_Wrapper {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .Contact__Modal_Header {
    display: flex;
    justify-content: center;

    .Contact__Modal_Title {
      font-size: 26px;
      color: #742dd1;
      font-weight: bold;
    }
  }

  .ContactModal__Buttons__Wrapper {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    width: 100%;

    .Button__Content {
      width: 50%;
    }
  }

  .Error {
    color: rgb(255, 0, 0);
    background: rgb(255, 192, 192);
    padding: 15px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
  }

  .Success {
    color: rgb(132, 0, 255);
    background: rgb(215, 172, 255);
    padding: 15px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
  }
}
