.Pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  list-style: none;
  padding: 0;

  .Page__Item {
    margin: 0 2px;

    .Page__Link {
      padding: 10px 15px;
      border: none;
      background-color: #a26de9;
      color: white;
      cursor: pointer;

      &:hover {
        background-color: #5a2ea6;
      }
    }

    .Active {
      background-color: #5a2ea6;
    }
  }
}
