.Card {
  background: #ffffff !important;
  color: #000 !important;
  font-weight: 500 !important;

  span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
  }

  .List_Item__Action__Wrapper {
    position: relative;

    .List__Item__Action {
      display: flex;
      width: max-content;
      background: transparent;
      outline: none;
      border: none;
      font-size: 30px;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

.Confirm__Modal_Header {
  display: flex;
  justify-content: center;
  padding: 20px 50px 50px 50px;

  .Confirm__Modal_Title {
    font-size: 26px;
    color: #742dd1;
    font-weight: bold;
    text-align: center;
    max-width: 400px;
  }
}

.Confirm__Buttons__Wrapper {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: 100%;

  .Button__Content {
    width: 50%;
  }
}
