.Card {
  background: #ffffff !important;
  color: #000 !important;
  font-weight: 500 !important;

  span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
  }

  .List_Item__Action__Wrapper {
    position: relative;

    .List__Item__Action {
      display: flex;
      width: max-content;
      background: transparent;
      outline: none;
      border: none;
      font-size: 30px;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
